p{
  color:#260707 ;
  font-family: "Raleway", Arial, sans-serif;
}

body{
  align-items:center;
  text-align:center;
  width:95%;
  background-color:#1b311e;
  margin:0 auto;
  font-family:"Raleway", Arial, sans-serif;
}

.teaser{
  font-family: "Raleway", Helvetica, sans-serif;
  text-align: left;
  margin:5px;
}

h1{
  font-family:"Antic Slab", Georgia, "Times New Roman", serif;
}

header{
  background-color:#2e5232;
  color: white;
  width: 100%;
}

body{
  width:100%;
  background-color:#ffffff;
}

nav ul li a:link,a:visited{
  color:#ffffff;
  background-color:#407346;
  display: block;
  text-align:center;
  font-weight:bold;
  text-decoration:none;
  padding:20px;
  font-family: "Raleway", Helvetica, sans-serif;
}

nav ul li a:hover, a:active{
  background-color:#1b311e;
  text-align:center;
  font-family: "Raleway", Helvetica, sans-serif;
}

header{
  display: flex;
  flex-flow: row;
  background-color: #407346;
  margin: 0;
  padding:0 10px;
}

nav a{
  display: block;
  text-decoration: none;
  padding: 20px 30px;
}

.menu-trigger{
    order: 1;
}

header h1{
  order: 2;
}

nav ul{
  display: none;
}

li{
	display: flex;
  display: block;
}

@media (min-width: 800px) {
  .link1{
    margin-right: auto;
  }
}

#footer{
  color:black;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.8em;
}

.content{
  text-align:justify;
  padding:10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-top: 0;
  font-family: "Raleway", Helvetica, sans-serif;
  line-height:normal;
}

.menu-trigger{
  background-color: #407346;
  display: flex;
}

@media screen  and (min-width:200px){
  .authorbox{
    width:40%;
    max-width: 500px;
    float:left;
    margin:10px;
  }

  .FL{
    margin-right: 20px;
    display: block;
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (min-width:600px) {
  .menu-trigger{
    display:none;
  }

  nav ul{
    display: flex;
    flex-direction: row;
  }

  body {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap:20px;
    grid-template-areas:
    "e e e"
    "a c c"
    "b c c"
    "d d d"
    "h h h"
    "g g g";
  }

  nav{
    order: 2;
  }

  header h1{
    order:1;
  }

  .authorbox {
    width: 100%;
    grid-area: a;
  }

  .teaser {
    grid-area: b;
  }

  .content {
    grid-area: c;
  }

  .FL{
    grid-area: d;
  }

  header{
    grid-area: e;
  }

  #footer{
    grid-area: g;
  }

  .map-wrapper{
    grid-area: h;
  }
}

@media screen and (min-width:1200px) {
  .menu-trigger{
    display:none;
  }

  body {
      display: grid;
      grid-template-columns: 200px 1fr 1fr 1fr;
      grid-gap: 20px;
      grid-template-areas:
      "e e e e"
      "a a c c"
      "a a c c"
      "b d d d"
      "h h h h"
      ". g g ."
  }
}

/* =================================
  Page Styles
==================================== */

.map-wrapper {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-wrapper iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
