p{
  color:#260707 ;
  font-family: "Raleway", Arial, sans-serif;
}

body{
  align-items:center;
  text-align:center;
  width:95%;
  background-color:#1b311e;
  margin:0 auto;
  font-family:"Raleway", Arial, sans-serif;
}

.teaser{
  font-family: "Raleway", Helvetica, sans-serif;
  text-align: left;
  margin:5px;
}

h1{
  font-family:"Antic Slab", Georgia, "Times New Roman", serif;
  font-size: 2.5em
}

h4{
  font-family: "Roboto", Helvetica, sans-serif;
  font-style: italic;
  font-size:0.8em
}

#header{
  background-color:#2e5232;
  color: white;
  width: 100%;
}

#container{
  width:100%;
  background-color:#ffffff;
}

.nav a:link, #nav a:visited{
  color:#ffffff;
  background-color:#407346;
  display: block;
  text-align:center;
  font-weight:bold;
  text-decoration:none;
  padding:20px;
  font-family: "Raleway", Helvetica, sans-serif;
}

.nav a:hover,#nav a:active{
  background-color:#1b311e;
  text-align:center;
  font-family: "Raleway", Helvetica, sans-serif;
}

.nav{
	display: flex;
	flex-direction: column;
  justify-content: flex-start;
}

@media (min-width: 600px) {
	.nav {
		flex-direction: row;
    justify-content: space-around;
	}
}

@media (min-width: 800px) {
  .link1{
    margin-right: auto;
  }
  .nav{
    padding-left: 5px;
    padding-right: 5px;
  }
}

 @media (min-width:600px) {
  .authorbox{
    float:left;
    width: 30%;
  }
}

#footer{
  color:black;
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 0.8em;
}

.content{
  text-align:justify;
  padding:10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 20px;
  margin-top: 0;
  font-family: "Raleway", Helvetica, sans-serif;
  line-height:normal;
}

@media screen  and (min-width:200px){
  #container{
    width:100%
  }

  .authorbox{
    width:25%;
    max-width: 500px;
    float:left;
    margin:10px;
  }

  .FL{
    margin-right: 20px;
    display: block;
    width: 100%;
    margin-top: 0;
  }

  .content{
    max-width: 800px;
  }
}

@media screen and (min-width:600px) {
  #container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-gap:20px;
    grid-template-areas:
    "e e e"
    "f f f"
    "a c c"
    "b c c"
    "d d d"
    "g g g";
  }

  .authorbox {
    width: 100%;
    grid-area: a;
  }

  .teaser {
    grid-area: b;
  }

  .content {
    grid-area: c;
  }

  .FL{
    grid-area: d;
  }

  #header{
    grid-area: e;
  }

  .nav{
    grid-area:f;
  }

  #footer{
    grid-area: g;
  }

@media screen and (min-width:1200px) {
  #container {
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
    "e e e e"
    "f f f f"
    "a a c c"
    "a a c c"
    "b d d d"
    ". g g g";
  }
}
